body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
}

.game-container {
    text-align: center;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    margin: 0 0 30px;
    color: #333;
}

.simon-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin: 0 auto 30px;
    width: 240px;
}

.simon-btn {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: 5px solid #000;
    transition: background-color 0.2s;
    border-radius: 50%;
}

.green {
    background-color: #2b2d42;
}

.red {
    background-color: #d90429;
}

.yellow {
    background-color: rgb(244, 244, 12);
}

.blue {
    background-color: #0d4834;
}

.simon-btn:hover {
    transform: scale(1.1);
}

#start-button, #strict-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#start-button:hover, #strict-button:hover {
    background-color: #222;
}

#message {
    text-align: center;
    font-size: 24px;
    margin: 10px 0;
    color: #333;
}

.active {
    background-color: #fff;
    transition: background-color 0.2s;
}


